<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://storyset.com/illustration/personal-site/pana#default&hide=Page,Texts&hide=false">
  <div>
    <ion-input label="Email" type="email" label-placement="floating" fill="outline" placeholder="example@mail.com"></ion-input>
  <br>
    <ion-input label="Password" type="Password" label-placement="floating" fill="outline" placeholder=""></ion-input>
  </div>
</ion-content>
