<ion-header>
  
</ion-header>

<ion-content [scrollY]="false">
  <div class="ion-content-scroll-host ion-padding">
    <div class="subtitle">
      <h2>select your prefered category</h2>
    </div>

  <br>
<div> 
    <ion-card>
      <ion-card-header>
        <ion-card-title><ion-checkbox labelPlacement="end">Category</ion-checkbox></ion-card-title>
      </ion-card-header>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-content>
        Describtion of the category, ex: resturants, places where you eat because you are a lausy cook
      </ion-card-content>
    </ion-card>
</div>

<div> 
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-checkbox labelPlacement="end">Category</ion-checkbox></ion-card-title>
    </ion-card-header>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      Describtion of the category, ex: resturants, places where you eat because you are a lausy cook
    </ion-card-content>
  </ion-card>
</div>

<div> 
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-checkbox labelPlacement="end">Category</ion-checkbox></ion-card-title>
    </ion-card-header>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      Describtion of the category, ex: resturants, places where you eat because you are a lausy cook
    </ion-card-content>
  </ion-card>
</div>

<div> 
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-checkbox labelPlacement="end">Category</ion-checkbox></ion-card-title>
    </ion-card-header>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      Describtion of the category, ex: resturants, places where you eat because you are a lausy cook
    </ion-card-content>
  </ion-card>
</div>

</div>

</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-button class="main-button" expand="block" size="full">Next</ion-button>
  </ion-toolbar>
</ion-footer>