<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-sharp"></ion-icon>
    <ion-title>
      Discover Places
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">

  <div>
    <ion-card>
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-content>
        <h1>Place Name</h1>
      </ion-card-content>
    </ion-card>
  </div>
  


  <div>
    <ion-card>
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-content>
        <h1>Place Name</h1>
      </ion-card-content>
    </ion-card>  
  </div>

  <div>
    <ion-card>
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-content>
        <h1>Place Name</h1>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
  <ion-card>
    <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      <h1>Place Name</h1>
    </ion-card-content>
  </ion-card>
  </div>

  <div>
    <ion-card>
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-content>
        <h1>Place Name</h1>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>


<ion-footer [translucent]="true">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="navigate">
      <ion-icon name="navigate-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-footer>


